* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-azul-efeito: #468de4;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("/html-e-css/curso-praticando-html-e-css/projeto-alura-plus/imagens/background-cabecalho.png");
    background-repeat: no-repeat;
    background-size: contain; /*contain é a section*/
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh; /*vh significa viewport height*/
    display: grid; /*está separando todos os elementos dentro de container*/
    grid-template-columns: 50% 50%; /*dividir em colunas*/
    /*conferir através do F12 ou CTRL+SHIFT+C no navegador*/
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em; /*margem somente embaixo*/
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__imagem {
    margin: 1em 0 2em 0; /*aqui funciona como um relógio em sentido horário. 1em significa 12h, 0 significa 15h, 2em significa 18h e 0 significa 21h.*/
}

.container__caixa {
    margin: 0 6em; /*aqui está representando o 0 como top e bottom, e 6em como right e left. ou seja, podia ter feito dessa forma, mas ela quis mostrar das duas maneiras que pode ser feita.*/
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex; /*ele fez com que todos seguissem uma linha, então seguiram um padrão um ao lado do outro nesse linha.*/
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.lista__link a:hover {
    color: var(--botao-azul);
    transition: 0.4s;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
    transition: 0.7s;
}